.table-custom {
  background-color: #20203c;
  color: white;
  width: 40rem;
}

.table {
  padding: 20px;
}

.gold-trophy {
  color: gold;
}

.silver-trophy {
  color: silver;
}

.bronze-trophy {
  color: #cd7f32;
}

.leaderboard-wrapper {
  display: flex;
  flex-direction: row;
}

.my-custom-scrollbar {
  position: relative;
  height: 40vh;
  overflow: auto;
}

.table-wrapper-scroll-y {
  display: block;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.moon-loader {
    padding-top: 3px;
    padding-left: 1rem;
}