.categoryItem {
  background-color: #20203c;
  min-width: 12rem;
  min-height: 4rem;
  margin: 0 5px 0 5px;
  text-align: center;
  line-height: 4rem;
  text-decoration: none;
  color: white;
  font-weight: 600;
}

.grow {
  transition: all 0.2s ease-in-out;
}

.grow:hover {
  transform: scale(1.2);
  color: white;
}

.inactive {
  pointer-events: none;
  opacity: 60%;
}