.game {
  display: grid;
  max-width: 50%;
  min-width: 50%;
}

.buttons-wrapper {
  display: grid;
  margin-top: 1rem;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

h2 {
  color: white;
}

.next__button {
  margin-top: 2rem;
}

.quit__button {
  position: absolute;
  background-color: crimson;
  border-color: crimson;
  bottom: 3rem;
  right: 3rem;
}

.loading-text {
  color: white;
  font-weight: 700;
  font-size: xx-large;
}

.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-success {
  color: var(--success-color);
}

.text-error {
  color: var(--error-color);
}