.sidebar-wrapper {
    float: left;
    margin-right: 3rem;
    height: 92vh;
    width: 17rem; 
    border-right: 5px solid #1c1c36;
    background-color: #20203c;
    grid-row: 1/2;
}

.sidebar-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    color: white;
    text-decoration: none;
}

.sidebar-link {
    text-decoration: none;
    color: white;
    width: 100%;
    text-align: center;
    padding: 1rem 0;
    font-weight: 700;
}

.sidebar-link:hover {
    color: rgb(236, 202, 202);
}

.active {
    background-color: crimson;
    color: white;
}

.ingame-indication {
    animation: mymove 1s infinite;
}

@keyframes mymove {
    from {background-color: red;}
    to {background-color: crimson;}
}