:root {
  --size: 30px;
  --angle: 130deg;
  --g: #0000 var(--angle), #000 0;
}

.infobox-wrapper {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 4rem;
  right: 0;
  background-color: #20203c;
  padding: 1rem 1rem 1rem 1rem;
  gap: 1rem;
}

.question-counter {
  color: white;
  font-size: x-large;
  font-weight: 600;
}
