body {
  background-color: #1a1a2f;
  overflow: hidden;
}

main {
  display: grid;
  grid-template-columns: 17rem;
}

.main-content {
  grid-row: 1/2;
  display: grid;
  align-items: center;
  justify-items: center;
}

.categories-content {
  grid-row: 1/2;
  display: grid;
}

.vl {
  border-left: 6px solid #1a1a2f;
  height: 1rem;
}